@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto',"Arial Rounded MT Bold", sans-serif;
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
    background-color: black;

}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto',"Arial Rounded MT Bold", sans-serif;
    font-weight: 700;
    margin: 0 0 35px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 25px;
}
p.intro-text{
    position: relative;
    top: 100px;
    font-size: 16px;
}


.container-fluid {
    width: 90%;
    margin-left: 6%;
}

img[alt="meImage"]{
    position: relative;
    top: -100px;
    max-width: 600px;
    max-height: 600px;

}



div#contact p span {
    color: yellow;
}

h3.githubHeadline {
    position: relative;
    top: 110px;
}


.lead {
    padding-bottom: 56px;
}

#experience{
    background-color: #0c50e908;
    border-radius: 20px;
}

@media (max-width: 991px) {
    .container-fluid a.navbar-brand,button.collapsed{
        position: relative;
        top: 16px;
        padding-bottom: 8px;
        padding-top: 7px;
    }

}


@media (min-width: 768px) {
    p {
        font-size: 18px;
        line-height: 1.6;
        margin: 0 0 35px;
    }
    div #about {
        position: relative;
        top: 90px;
        border: solid black 1px;
    }

}

a {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: yellow;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}

a:focus, a:hover {
    text-decoration: none;
    color: yellowgreen;
}

a:hover:before,
a:focus:before,
a:active:before {
    right: 0;


}

#mainNav {
    margin-bottom: 26px;
    text-transform: uppercase;
    margin-top: -16px;
    width: 100%;
    background-color: black;

}

#mainNav .navbar-toggler {
    font-size: 14px;
    padding: 11px;
    color: white;
}

#mainNav .navbar-brand {
    font-weight: 700;
}

#mainNav a {
    color: white;
}

#mainNav .navbar-nav .nav-item {
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}

#mainNav .navbar-nav .nav-item:hover {
    outline: none;
    background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent;
}




@media (min-width: 992px) {
    #mainNav {
        top: 15px;
        padding-bottom: 10px;
        -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
        -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
        transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
        letter-spacing: 1px;
        border-bottom: none;
        background: transparent;
    }
    #mainNav.navbar-shrink {
        padding-top: 10px;
        padding-bottom: 17px;
        background: black;
    }
    #mainNav .nav-link.active {
        outline: none;

    }
    #mainNav .nav-link.active:hover {
        /*color: royalblue;*/
    }
    p.intro-text{
        position: relative;
        top: 100px;
        font-size: 24px;
      color: white;
    }

}

.masthead {
    display: table;
    font-weight: bold;
    width: 100%;
    height: auto;
    padding: 200px 0;
    text-align: center;
    text-shadow: 1px 1px black;
    color: white;
    background: url("../img/bg1.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.masthead .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.masthead .intro-body .brand-heading {
    font-size: 50px;
}

.masthead .intro-body .intro-text {
    font-size: 18px;
}

@media (min-width: 768px) {
    .masthead {
        height: 100%;
        padding: 0;
    }
    .masthead .intro-body .brand-heading {
        font-size: 100px;
    }
     p.intro-text{
         position: relative;
         top: 4px;
     }
    .masthead .intro-body .intro-text {
        font-size: 22px;
    }
    img[alt="meImage"]{
        position: relative;
        top: 20px;

    }



    #mainNav {
        margin-bottom: 26px;
        text-transform: uppercase;
        width: 100%;


    }

    #mainNav .navbar-toggler {
        position: relative;
        top: 11px;
        font-size: 14px;
        padding-bottom: 11px;
        color: white;
    }

    #mainNav .navbar-brand {
        font-weight: 700;
        position: relative;
        top: 10px;
    }

    #mainNav a {
        color: white;
        top: 15px;
    }

    #mainNav .navbar-nav .nav-item {
        position: relative;
        -webkit-transition: background 0.3s ease-in-out;
        -moz-transition: background 0.3s ease-in-out;
        transition: background 0.3s ease-in-out;
    }

    #mainNav .navbar-nav .nav-item:hover {
        outline: none;
        background-color: transparent;
    }

    #mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
        outline: none;
        background-color: transparent;
    }


}

.btn-circle {
    font-size: 26px;
    width: 55px;
    height: 55px;
    margin-top: 15px;
    line-height: 45px;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
    color: white;
    border: 2px solid white;
    border-radius: 100% !important;
    background: transparent;
}

.btn-circle:focus, .btn-circle:hover {
    color: white;
    outline: none;
    background: rgba(255, 255, 255, 0.1);
}

.content-section {
    padding-top: 150px;
    padding-bottom: 150px;

}

.download-section {
    color: white;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#map {
    width: 100%;
    height: 300px;
}


.btn {
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    border-radius: 0;
    position: relative;
    top: 100px;
}

.btn-default {
    color: yellow;
    border: 1px solid yellow;
    background-color: transparent;
}

.btn-default:focus, .btn-default:hover {
    color: black;
    border: 1px solid yellowgreen;
    outline: none;
    background-color: yellowgreen;
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media (max-width: 1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }

}

@media (max-width: 767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }
    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }


}

footer {
    padding: 50px 0;
}

footer p {
    font-size: 14px;
    margin: 0;
}

::-moz-selection {
    background: #fcfcfc;
    background: rgba(255, 255, 255, 0.2);
    text-shadow: none;
}

::selection {
    background: #fcfcfc;
    background: rgba(255, 255, 255, 0.2);
    text-shadow: none;
}

img::selection {
    background: red;
}

img::-moz-selection {
    background: transparent;
}


ul li a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: yellow;
    height: 1px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;

}



















